# Node.js dependencies
node_modules/

# Build output (frontend)
dist/
build/

# Temporary files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store # macOS specific

# Environment variables (crucial for security)
.env
.env.local